<!-- <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="street">Street:</label>
    <input type="text" id="street" formControlName="street" />
  </div>
  <div>
    <label for="city">City:</label>
    <input type="text" id="city" formControlName="city" />
  </div>
  <div>
    <label for="postalCode">Postal Code:</label>
    <input type="text" id="postalCode" formControlName="postalCode" />
  </div>

  <div formArrayName="countries">
    <div *ngFor="let countryGroup of countries.controls; let i = index">
      <div [formGroupName]="i">
        <label>Country {{i + 1}}:</label>
        <input type="text" formControlName="countryName" placeholder="Country Name" />
        <input type="text" formControlName="room" placeholder="Room" />
        <input type="text" formControlName="building" placeholder="Building" />
        <input type="text" formControlName="village" placeholder="Village" />
        <input type="text" formControlName="dist" placeholder="District" />
        <input type="text" formControlName="state" placeholder="State" />
        <input type="text" formControlName="country" placeholder="Country" />
        <input type="text" formControlName="planet" placeholder="Planet" />
        <input type="text" formControlName="solarSystem" placeholder="Solar System" />
        <input type="text" formControlName="galaxy" placeholder="Galaxy" />
        <button type="button" (click)="removeCountry(i)">Remove Country</button>
      </div>
    </div>
    <button type="button" (click)="addCountry()">Add Country</button>
  </div>

  <button type="submit">Submit</button>
</form>


<button (click)="pathcValue()">pathc Value for us</button> -->

<app-swiper></app-swiper>